<header class="navbar navbar-fixed-top navbar-inverse">
  <div class='navbar-inner'>
<!--    <div class="container">-->
      <%= link_to "Skills Compiler", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Skills", skills_path %></li>
          <li><%= link_to "Daily Skill Totals", skill_totals_path %></li>
          <li><%= link_to "Trending Skills", skill_trends_path %></li>
          <li class='dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                  Charts <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                  <li><%= link_to  "Bar Chart", chart_path(1) %> </li>
                  <li><%= link_to "Line Chart", chart_path(2) %></li>
              </ul>
          </li>

          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    <!--</div>-->
  </div>
</header>