<% provide(:title, "Skills Data") %>

<h1>Skill Total Data</h1>

<section class="skill_totals">
  <p>Raw daily totals for an individual skill that is used to drive the charts and trends.  The search below will autocomplete, as well as accept '%' for wildcard characters.</p>

  <%= form_tag skill_totals_path, :method => 'get', :class =>'search' do %>
    <p>
      <%= text_field_tag :skills, params[:skills], :class=> 'autocomplete',
        :data => {:autocomplete_data =>  SkillTotal.retrieve_skills() } %>
      <%= submit_tag "Search", :name=>nil %>
    </p>
  <% end %>

  <table > 
    <tr>
      <th class='name'>Skill</th>
      <th class='date'>Date</th>
      <th class='count'>Daily Total</th>
    </tr>
 
    <% @skill_totals.each do |skill_total| %>
    <tr>
      <td class='name'><%= skill_total.name %></td>
      <td class='date'><%= skill_total.date %></td>
      <td class='count'><%= skill_total.count %></td>
    </tr>
    <% end %>

  </table>

  <%= will_paginate %>
</section>